body {
    text-align: center;
    background-color: #d3e0ea;
    font-family: 'Sriracha', cursive;
    margin: 0;
    padding: 0;
    background-image: url(images/pastel2.jpg);

    background-size: cover;
}

#storeItems {
    font-size: 20px;
    margin-bottom: 20px;
}

.itemBox {
    text-align: center;
    border: 2px solid white;
    padding: 0 10px 10px 10px;

    background-color: #fff6c1;
    margin-left: 30%;
    margin-right: 30%;
}

#bar p {
    display:inline;
    font-size: 20px;
}

img {
    padding-top: 120px;
    /*! margin-bottom: 20px; */
}

#bar {
    position: fixed;
    width: 100%;
    background-color: pink;
}

#menuList {

}

#wallpaper img{
    width:100%;
    height: 500px;
}

button {
    background: url(images/BuyNow.png); 
    width:50px;
    height:50px;
    background-size: contain;
    background-repeat:no-repeat;
}

#checkoutList {
    background-color: #d5ffd1;
    margin-left: 30%;
    margin-right: 30%;
}




@media only screen and (max-width: 840px) {


    .itemBox {
        margin-left: 0;
        margin-right: 0;
    }
    #checkoutList {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    #bar {
        font-size: 12px;
    }
}